/* 

This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp

*/

/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/

html h1 {
  margin: 0;
}

div {
  border-radius: 5px;
}

/* next we set up those properties that we want to apply everywhere that is visible on the page using the body selector. Notice the "font-family" */

body {
  font-size: 1.1em;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  background-color: #073596;
}

/* The container sits in the middle of the page and is a fixed width Reference: http://www.w3schools.com/css/css_boxmodel.asp
*/

.container {
  width: 100%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #77B008;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}

/* The next set of styles pretty much just "open up" the page and create
white space */

header {
  margin: 20px;
  background-color: #215FE3;
  clear: both;
  border-radius: 5px;
  height: 160px;
}

#logo {
  float: right;
}

nav {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #E85539;
  border-radius: 5px;
}

nav p {
  color: #000000;
  padding-bottom: 1cm;
}

nav img {
  margin-top: 10px;
}

.articles {
  width: 70%;
  left: 35%;
  float: left;
}
 	
.page_heading {
    margin-left: 20px;
} 

#indent {
  margin-left: 15px;
}
	
.contact_information {
    margin-left: 20px;
}

/* we want the validation pages to appear on the right side of the page inside the container */

.validation_badge {
  float: right;
  clear: right;
}

article {
  margin: 20px;
}

.article_heading {
  width: 80%;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: #68960E;
}

.article_heading h2 {
  margin: 0;
}

/* This is a style guide to make the h2 headings for each article look like
and h1 heading. These are the default settings for an h1 header. I got these
settings from http://www.w3schools.com/tags/tag_hn.asp. */
.big_heading {
    display: block;
    font-size: 2em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 40px;
    font-weight: bold;
}

.article_content {
  margin: 0 20px 0 20px;
  padding: 10px;
  border: 1px solid gray;
  background-color: #68960E;
}

.prompt_text {
  font-size: 24px;
  padding-left: 10px;
  color: #000;
}
.form_field_table {
  margin-left: 30px;
  border: none;
}
.form_field_table td {color: #00f;}

form {
  color: #00f;
}
.buttons {
  float: right;
}

.float_right {
  float: right;
}

.narrow_td {
  width: 29%;
}

.wide_td {
  width: 71%;
}

/* finally, the footer stretches across the whole page width in an open, centered sort of way. */
footer {
  font-size: .80em;
  min-height: 40px;
  text-align: center;
  margin: 20px;
  clear: both;
  border-radius: 5px;
}



